/* 3D9299 dark blue
14becc light blue
00ff83 green
ff7985 pink
ffcbd3
cc1481 dark pink */
html{
  background:url("../images/noisy-texture-100x100.png") repeat;
}

body {
  background:url("../images/meme_bg.png") bottom right no-repeat;
  background-attachment:fixed;
  position: relative;
  height: 100%;
  width: 100%;
}



header {
  position: fixed;
  color: white;
  background-color: #d9145c;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 10;
  -webkit-box-shadow: 0 8px 6px -6px #666;
     -moz-box-shadow: 0 8px 6px -6px #666;
          box-shadow: 0 8px 6px -6px #666;

}

.logo {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.7em;
  float: left;
  width: 30%;
  line-height: 60px;
  margin-left: 20px;
  color: white;
  text-shadow: 1px 1px #c8034b, -1px -1px #222;
}

.logo img {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 10px;
}

.logo a , .logo a:visited {
  float: left;
  color: #fff;
}

.logo a:hover{
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a {
  text-decoration: none;

}

ul {
  list-style: none;
}

nav {
  float: right;
  font-size: 1.1em;
  font-family: 'Dosis', sans-serif;
  margin-right: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}

nav a {
  line-height: 60px;
  padding: 10px;
  color:#fff;
}

nav a:hover {
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main_title{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5em;
  color: #d9145c;
  text-align: right;
  width: 100%;
  /*text-shadow: 1px 1px #c8034b, -1px -1px #AAA;*/

}

.container {
  /*background-color: rgba(255,255,255,0.5);*/
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: block;
  margin-top : 80px;
}

.joke {
  padding-bottom: 80px;
}

.card {
  background-color: #222;
  width: 28%;
  min-width: 200px;
  float: left;
  padding: 1%;
  margin: 1%;
  position: relative;
  display: block;
  height: 360px;
  border: 20px #000;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.card textarea {
  padding: 2%;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.3em;
  width: 96%;
  height: 160px;
  display: block;
  border: none;
  resize: none;
  /*-moz-box-shadow:
        inset 5px 0 5px -5px #333,
        inset -5px 0 5px -5px #333;
    -webkit-box-shadow:
        inset 5px 0 5px -5px #333,
        inset -5px 0 5px -5px #333;
    box-shadow:
        inset 5px 0 5px -5px #333,
        inset -5px 0 5px -5px #333;*/
}

#save_btn {
  color: #c8034b;
  font-family: 'Gloria Hallelujah', cursive;
  background: none;
  font-weight: bold;
  border: 3px solid #c8034b;
}
#save_btn:hover {
  border: 3px solid #000;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.card .joke_small_images {
  width: 100%;
  height: 50%;
  overflow-y: scroll;
  position: relative;
}

.back_btn{
  color: #fff;
  font-size: 1em;
  position: absolute;
  bottom:0;
  background-color: #444;
  padding: 5px;
  z-index: 10;
}
.back_btn:hover{
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: #444;

  background-color: #fff;
}

.joke_small_images::-webkit-scrollbar {
    width: 0.3em;
}
 
.joke_small_images::-webkit-scrollbar-thumb {
  background-color: #c8034b;
}

.card .icon_img{
  margin: 0;
  padding: 0;
  width: 50%;
  height: 50%;
  float: left;
  opacity: 0.9;
}



.card .icon_img:hover{
  opacity: 1;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card .joke_big_image {
  width: 100%;
  height: 50%;
  display: none;

}
.card .joke_big_image .icon_img{
  width: 100%;
  height: 100%;
  opacity: 1;
}

.edit_buttons{
  width: 100%;
  float: left;
  display: block;
}

.title {
  font-family: 'Gloria Hallelujah', cursive;
  padding: 10px;
  margin: 10px;
  text-align: left;
}

.title span {
  font-size: 0.6em;
  color: #d9145c;
}

#save_btn {
  float: right;
  margin: 5px;
}

.login_container {
  font-family: 'Gloria Hallelujah', cursive;
  background: white;
  display: block;
  text-align: center;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}



