<div class="joke clearfix">
  <h1 class="title" ><%=@joke.joke_title%> <span>by <%= @joke.joker.nickname %></span></h1>
   
  <% 0.upto(2) do |i| %>
    <div class="card">
      <% if i.even? %>
        <%= erb :'joke/_even_card', locals: { iterator: i } %>
      <% else %>
        <%= erb :'joke/_odd_card', locals: { iterator: i } %>
      <% end %>
    </div>
  <% end %>
</div>