<div class="container">
  <h1>That's what she said.</h1>
  <h2><center><%=@joke.joke_title%></center></h2>
  <p>
  <p><%=@joke.text_one%></p>
  <p><%=@joke.text_two%></p>
  <p><%=@joke.text_three%></p>
</div>
