<div class="login_container">
  <h2>Your MOM.</h2>
  <h3> Please enter your information</h3>
  <fb:login-button class="login_facebook" scope="public_profile,email" data-size="xlarge" onlogin="checkLoginState();">
  </fb:login-button>
  <div id="status"></div>
  <!-- <a id="login_facebook" href="">Login with Facebook</a> -->

<!--   <form input="/login" method="POST">
    email: <br>
    <input type="text" name="joker[email]">
    <p>
    password: <br>
    <input type="password" name="joker[password]">
    <p>
    <input type="submit" name="submit">
  </form> -->
</div>

