<!-- create_joker.erb -->
<div class="container">
  <h2>You're so funny... funny looking.</h2>
  <h3> Create your account HERE:</h3>
  <form input="/create_joker" method="POST">
    Your nickname: <br>
    <input type="text" name="joker[nickname]">
    <p>
    Your email: <br>
    <input type="text" name="joker[email]">
    <p>
    Enter your password: <br>
    <input type="password" name="joker[password]">
    <p>
    <input type="submit" name="submit">
  </form>
</div>


