<!DOCTYPE html>
<html lang="en">
<head>

  <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Why so serious?</title>
</head>
<body>
  <header>
    <div class="logo">
      <img src="/images/logo.png">
      <a href="/">why so serious?</a>
    </div>
    <nav>
      <ul>
        <% if session[:joker_id] %>
          <li><a href="/joke/new">make a joke</a></li>
          <li><a href="/jokes/my_jokes">my jokes</a></li>
          <li><a href="/logout">log out</a></li>
        <% else %>
          <li><a href="/login">login</a></li>
          <li><a href="/singup">sign up</a></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <div class="container clearfix">
    <%= yield %>
  </div>
</body>
</html>
