<!DOCTYPE html>
<html lang="en">
<head>

  <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Why so serious?</title>
</head>
<body>
  <header>
    <div class="logo">
      <img src="/images/logo.png">
      <a href="/">why so serious?</a>
    </div>
    <nav>
      <ul>
        <% if session[:joker_id] %>
          <li><a href="/joke/new">make a joke</a></li>
          <li><a href="/jokes/my_jokes">my jokes</a></li>
          <li><a href="/logout">log out</a></li>
        <% else %>
          <li><a href="/login">login</a></li>
          <li><a href="/singup">sign up</a></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <div class="container clearfix">
    <%= yield %>
  </div>

  <script>
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);

    if (response.status === 'connected') {
      testAPI();
    } else if (response.status === 'not_authorized') {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      $.getJSON('/auth/facebook/callback', function(json) {
            console.log(json);
      });

      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

      // FB.getLoginStatus(function(response) {
      //   statusChangeCallback(response);
      // });
  }




    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1537732713129755',
        xfbml      : true,
        version    : 'v2.1'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
</body>
</html>
